.parking_x__item__icon {
    background: #F3792C;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parking_x__item {
    background: #FFFFFF;
    border: 2px solid #A8ABAF;
    width: calc(100% / 2 - 10px);
    padding-bottom: 20px;
}

.parking_x__item.active {
    border-color: #f3792c;
}

.parking_list_x {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.parking_x__item__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parking_x__item__col.parking_x__item__col--1 {
    width: 49%;
}

.parking_x__item__top {
    display: flex;
    align-items: flex-start;
}

.parking_x__item__title {
    flex: 1;
    margin-left: 20px;
    margin: 20px 0 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #232C2F;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.parking_x__item__adress {
    padding: 19px 20px;
    display: flex;
    align-items: flex-start;
}

.parking_x__item__adress__inner {
    flex: 1;
    margin-left: 5px;
    margin-top: 2px;
}

.parking_x__item__col--2 {
    width: 42%;
    padding-top: 24px;
}

.parking_x__item__time_title {
    text-transform: capitalize;
    color: #F3792C;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.parking_x__item__time__list ul {
    list-style: none;
}

.parking_x__item__time__list li {
    margin-bottom: 5px;
}

.parking_x__item__time__list li:last-child {
    margin-bottom: 0;
}

.parking_x__item__time__full_line {
    margin-top: 11px;
    font-weight: 500;
}

.parking_list_x__wrap {
    margin-bottom: 539px;
    margin-top: 60px;
}

.parking_x__item__price__bottom {
    display: flex;
    align-items: center;
    padding: 2px 20px;
}

.parking_x__item__price {
    padding: 2px 20px;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
    margin-bottom: 4px;
}

.parking_x__item__price b {
    font-size: 23px;
}

.btn_parking_x__item__price {
    font-size: 18px;
    line-height: 1.2;
    /* identical to box height */
    text-transform: uppercase;
    color: #F3792C;
    border: 2px solid #F3792C;
    padding: 12px 16px;
}

.btn_parking_x__item__price:hover {
    background: #F3792C;
    color: #fff;
}

.parking_x__item__price__detail {
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 18px;
    color: #f17a2b;
}


.parking_filter__row>* {
    gap: 0;
    flex-wrap: wrap;
}

.parking_filter__row {
    border: 1px solid #aaa;
    padding: 7px;
}

.parking_filter {
    margin: 40px 0;
}

.form__field--distance__title {
    color: #777777;
    margin-right: 15px;
}

.parking_filter__row .select2-container--default .select2-selection--single {
    border: none;
    border-right: 1px solid #aaa;
}

.parking_filter__row input {
    border: none;
    border-right: 1px solid #aaa;
}

.form__field--state {
    flex: 1 0 180px;
    margin: 0;
}

.form__field--distance {
    flex: 0 0 240px;
    margin: 0;
}

.form__field--city_or_zip {
    flex: 1 0 120px;
    margin: 0;
}

.form__field--type_of_vehicles {
    flex: 1 0 180px;
    margin: 0;
}

.parking_filter__add_btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background: no-repeat;
    border: none;
    margin-top: 20px;
    gap: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    /* identical to box height, or 111% */
    color: #084E95;
}

.parking_filter__add_btn:hover {
    color: inherit;
}

.parking_filter__add_btn:hover path {
    stroke: #232c2f;
}

.parking_filter__add_btn path {
    transition: 0.25s;
}

.parking_filter__add_btn.active .parking_filter__add_btn__vertical {
    opacity: 0;
}

.form__field--distance__inner {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.form__field--distance__btn {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 20px;
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.25s;
}

.form__field--distance__inner input {
    text-align: center;
    border: none;
    width: 70px;
    padding: 14px 0;
}

.form__field--distance__inner input::-webkit-outer-spin-button,
.form__field--distance__inner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__field--distance__inner input[type=number] {
    -moz-appearance: textfield;
}

.form__field.form__field--parking_search button {
    width: 165px;
}

.form__field--distance__btn:hover {
    opacity: 0.5;
}

.parking_filter__parking_add {
    padding-top: 20px;
    display: none;
}

.form__field.form__field--parking_search {
    margin: 0;
    flex: none
}

.form__field.form__field--date_x {
    display: flex;
    align-items: center;
    margin: 0;
}

.form__field--date_x__title {
    white-space: nowrap;
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5px;
}

label.form__field.form__field--number_of_vehicles {
    margin: 0;
}

.form__field.form__field--date_x input {
    flex: 1;
    width: auto;
}

.form__field--not_right_border input {
    border: none;
}

@media (max-width: 1100px) {
    .parking_x__item {
        width: 100%;
    }
}



@media (max-width: 1000px) {
    .parking_filter__row {
        max-width: 550px;
        margin: 0 auto;
        border: none;
        padding: 0;
    }

    .form__field--type_of_vehicles {
        flex: none;
        width: 100%;
    }

    .parking_filter__row .select2-container--default .select2-selection--single {
        border: 1px solid #aaa;
    }

    .parking_filter__row>* {
        flex-direction: column;
        gap: 10px;
    }

    .form__field--state {
        flex: none;
        width: 100;
    }


    .form__field--city_or_zip {
        flex: none;
    }

    .parking_filter__row input {
        border: 1px solid #aaa;
    }

    label.form__field.form__field--distance.js_form__field--distance {
        flex: none;
    }

    .form__field--distance__inner {
        border: 1px solid #aaa;
        margin: 0;
        padding: 0 15px;
    }

    .form__field--distance__inner input {
        border: navajowhite;
    }

    .form__field.form__field--parking_search button {
        width: 100%;
        max-width: 100%;
    }

    .form__field--date_x__title {
        padding-left: 5px;
        width: 90px;
    }

    .parking_filter__add {
        max-width: 540px;
        margin: 0 auto;
    }
}


@media (max-width: 600px) {
    .parking_x__item__col.parking_x__item__col--1 {
        width: 100%;
        padding-right: 20px;
    }

    .parking_x__item__col.parking_x__item__col--2 {
        width: 100%;
        padding: 15px 20px 25px;
    }

    .parking_x__item__title {
        font-size: 14px;
        line-height: 1.3;
    }

    .parking_x__item__icon img {
        width: 40px;
    }

    .parking_x__item__icon {
        width: 70px;
        height: 70px;
    }

    .parking_x__item__adress {
        font-size: 15px;
    }

    .parking_x__item__price {
        font-size: 16px;
    }

    .parking_x__item__price b {
        font-size: 20px;
    }

    .parking_x__item__time__list {
        font-size: 14px;
    }

    .parking_list_x__wrap {
        margin-bottom: 100px;
    }
}