.ownerstact__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 105%;
    text-transform: uppercase;
    color: #483C34;
    margin-bottom: 20px;
}

.ownerstact__info {
    width: 50.75%;
    padding: 122px 0;
    background: linear-gradient(126.06deg, #F1F1F1 18.4%, #FBF4EB 76.13%);
    position: relative;
}

.ownerstact__info:before {
    background: #f3f2ef;
    position: absolute;
    left: calc(-1 * (100vw - 1300px)/2);
    top: 0;
    content: '';
    right: 100%;
    height: 100%;
}

.ownerstact__text {
    font-size: 20px;
    margin-bottom: 40px;
}

.ownerstact__btn {
    max-width: 200px;
    margin-bottom: 81px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.ownerstact__bottom {
    font-size: 18px;
}

.ownerstact__bottom p {
    margin-bottom: 28px;
    line-height: 1.45;
}

.ownerstact__bottom p:last-child {
    margin-bottom: 0;
}

.ownerstact__mockup {
    background: #F3792C;
}

.ownerstact__mockup {
    width: 49.25%;
    padding: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.ownerstact__top .container {
    display: flex;
    flex-wrap: wrap;
}

.ownerstact__mockup img {
    width: 78%;
    margin: 0 auto;
    max-width: 450px;
}

.ownerstact__mockup__image {
    display: flex;
    position: relative;
    align-items: center;
}

.ownerstact__mockup:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: calc((100vw - 1300px) /2);
    background: #f3792d;
}

.ownerstact__bottom a {
    color: #f3792d;
}

.ownerstact__bottom a:hover {
    color: inherit;
    text-decoration: none;
}

.ownerstact__form__inner {
    max-width: 640px;
    margin: 0 auto;
    padding: 50px 0;
}

.ownerstact__form__title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 60px;
}

.ownerstact__form__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.form__field-city {
    max-width: 200px;
}

.form__field-city_x {flex: none;width: 48.5%;}

.form__field--state_x {
    max-width: 230px;
}

.form__field--zip_x {
    flex: none;
    width: 90px;
}


@media (max-width: 1340px) {
    .ownerstact__info:before {
        left: -20px;
    }
    .ownerstact__title {
        font-size: 48px;
        line-height: 1.15;
        margin-bottom: 30px;
    }

    .ownerstact__text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .ownerstact__mockup img {
        max-width: 300px;
    }

    .ownerstact__info {
        padding: 75px 0;
        padding-right: 50px;
    }

    .ownerstact__bottom {
        font-size: 16px;
    }

    .ownerstact__btn {
        margin-bottom: 50px;
        padding: 10px 10px;
    }

    .ownerstact__mockup:after {
        width: auto;
        right: -20px;
    }
}

@media (max-width: 1000px) {
    .ownerstact__info:before {
       display: none;
    }


    .ownerstact__title {
        max-width: 500px;
    }

    .ownerstact__mockup {
        width: 100%;
        justify-content: flex-start;
    }

    .ownerstact__mockup:after {
        left: -20px;
    }

    .ownerstact__mockup__image {
        z-index: 1;
        text-align: left;
    }
    .ownerstact__info {
        width: calc(100% + 40px);
        padding: 50px 20px;
        margin: 0 -20px;
    }
}

@media (max-width: 550px) {
    .ownerstact__title {
        font-size: 32px;
        margin-bottom: 20px;
        max-width: 400px;
    }

    .ownerstact__text {
        font-size: 16px;
        max-width: 280px;
        line-height: 1.35;
    }

    .ownerstact__btn {
        width: 100%;
        max-width: 250px;
        padding: 9px;
        margin-bottom: 40px;
    }

    .ownerstact__bottom {
        font-size: 15px;
    }

    .ownerstact__bottom br {
        display: none;
    }

    .ownerstact__mockup img {
        max-width: 350px;
        margin: 0;
    }

    .ownerstact__mockup {
        padding: 40px 20px;
    }
}