.row_contact__col__add_info__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 105%;
    text-transform: uppercase;
    color: #232C2F;
    margin-bottom: 40px;
}

.row_contact {
    display: flex;
    flex-wrap: wrap;
}

.row_contact__col {
    position: relative;
    padding-bottom: 686px;
    padding-bottom: 75px;
}


.row_contact__col--2 {
    width: 55%;
    padding: 62px 0 62px 75px;
}

.row_contact__col__info {
    font-size: 18px;
    line-height: 1.3;
    max-width: 700px;
}

.default__text p {
    margin-bottom: 43px;
}

.row_contact__col__add_info {
    padding-top: 63px;
    position: relative;
    padding-right: 25px;
}

.row_contact__col--1:before {
    background: url(../images/bg/2.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    height: 100%;
    left: calc(0px - 50vw + (1300px / 2));
    right: 0;
    position: absolute;
}

.row_contact__col--1 {
    width: 45%;
}

.row_contact__col__add_info__item a {
    display: inline-flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.row_contact__col__add_info__item {
    margin-bottom: 33px;
}

.row_contact__col__add_info__item svg {
    margin-right: 15px;
}

.row_contact__col__add_info__item a:hover {
    color: #f17a2b;
}

.row_contact__col__add_info__item a:hover path {
    fill: #f17a2b;
}



.default__text p:last-child {
    margin-bottom: 0;
}

.default__text p:last-child {
    margin-bottom: 0;
}

.default__text b {
    font-weight: 700;
}

.default__text {
    font-weight: 400;
}


.row_contact__form__title {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}

.row_contact__form {
    max-width: 420px;
    margin: 0 auto;
}

.form__row {
    display: flex;
    flex: 1;
    gap: 20px;
    margin-bottom: 19px;
    flex-wrap: wrap;
}

.form__field__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 7px;
    line-height: 1.1;
}

.form__row:last-child {
    margin-bottom: 0;
}

.form__field--btn input[type='submit'] {
    text-transform: uppercase;
    background: #F3792C;
    box-shadow: 2px 2px 20px rgba(243, 121, 44, 0.33);
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
}




.row_contact__col__add_info__text {
    font-size: 16px;
    max-width: 440px;
    margin-top: -9px;
    line-height: 1.33;
    margin-bottom: 28px;
}

.row_contact__col__add_info__logo {
    margin-bottom: 26px;
}

.form__field--btn input[type='submit']:hover {
    background: #db6215;
}

@media (max-width: 1340px) {
    .row_contact__col--1:before {
        left: -20px;
    }

    .row_contact__col__add_info__title {
        font-size: 50px;
    }

    .row_contact__col__add_info__text {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .row_contact__form {
        margin: 0;
        max-width: 550px;
    }

    .row_contact__col {
        width: 100%;
        padding-bottom: 0;
    }

    .row_contact__col__add_info__title {
        font-size: 32px;
    }

    .row_contact__col__add_info {
        padding: 50px 0px;
    }

    .row_contact__col--1:before {
        right: -20px;
    }

    .row_contact__col__add_info__item:last-child {
        margin-bottom: 0;
    }

    .row_contact__col--2 {
        padding: 0;
    }

    .row_contact__col__info {
        padding: 50px 0 75px;
    }
}

@media (max-width: 550px) {
    .row_contact__col__info {
        font-size: 15px;
        line-height: 1.6;
        padding: 50px 0 65px;
    }

    .row_contact__col__add_info__item a {
        font-size: 16px;
    }

    .row_contact__col__add_info__item svg {
        width: 20px;
        margin-bottom: 2px;
    }

    .row_contact__col__add_info__item {
        margin-bottom: 25px;
    }

    .row_contact__col__add_info__text {
        font-size: 13.5px;
        line-height: 1.5;
    }

    .row_contact__form__title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .form__field__title {
        font-size: 15px;
    }

    .form__row {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 16px;
    }

    .form__field--btn input[type=submit] {
        font-size: 16px;
    }
    .main_footer__logo {
        margin-left: 0px;
        width: 95px;
    }

}