.loaded .modal__menu{ transition: 0.25s ease-in-out;}
.modal__menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;

    transform: translate(-100%,0);
    background: $white;
    max-width: 350px;
    width: 100%;
    z-index: 6;
    height: 100%;
    visibility: hidden;

    &.active{
        opacity: 1;
        pointer-events: all;
        transform: translate(0%,0);
        visibility: visible;
    }
}

.loaded .modal__menu__overlay{   transition: 0.25s ease-in-out;}
.modal__menu__overlay {
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    bottom:0;
    opacity: 0;
    z-index: 5;

    background:#000;


    &.active {
        opacity: 0.75;
        visibility: visible;

    }
}

.modal__menu__inner {
    padding: 25px;
}

.modal__menu__top__logo {
    display: flex;
    width: 120px;
}

.modal__menu__btn_close {
    background: transparent;
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    margin: auto;
    top: 10px;
    right: 10px;
    margin: auto;
}

.modal__menu__btn_close:after,.modal__menu__btn_close:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background: #999;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg);
    margin: auto;
}

.modal__menu__btn_close:before {transform: rotate(45deg);}

.modal__menu__list {
    list-style: none;
}

.modal__menu__list a {
    color: inherit;
    text-decoration: none;
}

.modal__menu__list li {
    margin-bottom: 12px;
}

.modal__menu__top {
    margin-bottom: 30px;
}

.modal__menu__nav {
    margin-bottom: 25px;
}

.modal__menu__list a:hover {
    color: #f17a2b;
}

.modal__menu__phone a {
    display: inline-flex;
    gap: 14px;
    text-decoration: none;
}

.modal__menu__phone a:hover {
    color: #f17a2b;
}

.modal__menu__phone a {
    color: inherit;
}

.modal__menu__phone a:hover path {
    fill: #f17a2b;
}

.modal__menu__phone {
    margin-bottom: 20px;
}

.modal__menu__myaccount ul {
    list-style: none;
}

.modal__menu__myaccount {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.modal__menu__myaccount a {
    color: inherit;
}

.modal__menu__myaccount ul {
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}


.modal__menu__myaccount a:hover {
    color: #f17a2b;
    text-decoration: none;
}