<div class="parking__list">
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/1.svg">
        </div>
        <div class="parking__item__title">Cars</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/2.svg">
        </div>
        <div class="parking__item__title">Vans</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/3.svg">
        </div>
        <div class="parking__item__title">Box Trucks</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/4.svg">
        </div>
        <div class="parking__item__title">Tractor & Trailer</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/5.svg">
        </div>
        <div class="parking__item__title">Tractors</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/6.svg">
        </div>
        <div class="parking__item__title">RVs</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/7.svg">
        </div>
        <div class="parking__item__title">Trailers</div>
    </a>
    <a href="" class="parking__item">
        <div class="parking__item__icon">
            <img src="images/icons/parking/8.svg">
        </div>
        <div class="parking__item__title">Tractor Trailer</div>
    </a>
</div>
