.page__promo__top {
    background: url('../images/bg/1.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 73px 0;
}

.page__promo__top__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 105%;
    text-transform: uppercase;
}



.page_thank {
    padding: 61px 0 251px;
    text-align: center;
}

.page_thank__icon {
    font-size: 0;
    margin-bottom: 20px;
}

.page_thank__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    color: #483C34;
    margin-bottom: 22px;
}

.page_thank__text {
    margin-bottom: 40px;
}

.btn_check {
    max-width: 295px;
    background: transparent;
    border: 2px solid #f3792c;
    color: #f3792c;
    box-shadow: none;
    padding: 9px 20px;
    font-size: 17px;
}

.btn_check:hover {
    background: #f3792c;
    color: #fff;
}

.page_thank__list {
    margin-top: 35px;
    margin-left: 34px;
}

.page_thank__list li {
    font-weight: 400;
    font-size: 18px;
}

.page_thank__list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.page_thank__list li:before {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='%23F3792C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    left: -30px;
}

.page_thank__list li {
    position: relative;
}



@media (max-width: 1000px) {
    .page__promo__top__title {
        font-size: 26px;
    }

    .page__promo__top {
        padding: 55px 0;
    }

    .page_thank {
        padding: 50px 0 110px;
    }

    .page_thank__icon {
        display: inline-flex;
        width: 75px;
        margin-bottom: 20px;
    }

    .page_thank__icon svg {
        width: 100%;
        height: auto;
    }

    .page_thank__title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .page_thank__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .page_thank__list ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        max-width: 330px;
        margin: 0 auto;
    }

    .page_thank__list li {
        display: inline-block;
        padding-left: 50px;
    }

    .page_thank__list li:before {
        margin-top: 1px;
        left: 15px;
    }

    .page_thank__list {
        margin: 32px 0 0;
        text-align: left;
    }

    .page_thank__icon {
        width: 60px;
    }

    .page_thank {
        padding: 35px 0 55px;
    }

    .page__promo__top__title {
        font-size: 22px;
    }
}