.main_footer {
    position: relative;
}
.main_footer {
    background: #808080;
    padding: 40px 0;
    color: #fff;
}

.main_footer .container {
    display: flex;
    align-items: flex-start;
}

.main_footer__info {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.main_footer__col_list a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.main_footer__col_list ul {
    list-style: none;
}

.main_footer__col_title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5px;
    margin-bottom: 10px;
}

.main_footer__col_list li:last-child {
    margin-bottom: 0;
}

.main_footer__col {
    font-size: 14px;
    padding-left: 110px;
}

.main_footer__add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.main_footer__logo {
    font-size: 0;
    margin-left: 148px;
}

.main_footer__social svg {
    width: 23px;
    height: auto;
}

.main_footer__social {
    display: flex;
    align-items: center;
    font-size: 0;
    gap: 0 22px;
    margin-top: -10px;
}

.main_footer__social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_footer__subscribe {
    display: flex;
    justify-content: flex-end;
}

.main_footer__subscribe form {
    display: flex;
}

.subscribe_btn {
    border: none;
    width: 115px;
    padding: 13px;
    background: #F3792C;
    box-shadow: 2px 2px 20px rgba(243, 121, 44, 0.33);
    color: #fff;
    border-radius:0;
    transition: .25s;
    text-transform: uppercase;
    font-size: 15px;
}

.subscribe_field {
    border-radius:0;
    width: 305px;
    padding: 14px 20px;
    font-size: 16.5px;
    border: none;
    background: rgba(255, 255, 255, 0.13);
    color: #fff;
}

.subscribe_field::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscribe_btn:hover {
    background: #db6215;
}

.main_footer__social a:hover {
    opacity: 0.5;
}

.main_footer__col_list a:hover {
    opacity: 0.5;
}

.main_footer__col_list li{margin-bottom: 5px;}
@media (max-width: 1000px) {
    .main_footer__col {
        padding-left: 0;
        margin-right: 50px;
    }
}

@media (max-width: 900px) {
    .main_footer__info {
        width: 100%;
        flex: none;
        margin-top: 30px;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0;
    }

    .main_footer .container {
        flex-wrap: wrap;
        max-width: 550px;
    }

    .main_footer__col {
        margin: 0;
        width: 50%;
        padding-right: 25px;
    }

    .main_footer__add {
        width: 100%;
        justify-content: space-between;
    }

    .main_footer__subscribe {
        width: 100%;
        justify-content: flex-start;
    }

    .main_footer__subscribe form {
        width: 100%;
    }

    .subscribe_field {
        flex: 1;
        width: auto;
    }

    .main_footer__col_list li {
        margin-bottom: 6px;
    }

    .main_footer__col_title {
        margin-bottom: 15px;
    }
}

@media (max-width: 550px) {
    .main_footer__col_list a {
        font-size: 13px;
        line-height: 1.35;
        display: inline-block;
    }

    .main_footer__col_list li {
        margin-bottom: 8px;
    }

    .main_footer__col_list li:last-child {
        margin-bottom: 0;
    }

    .subscribe_field {
        font-size: 15px;
        width: calc(100% - 115px);
    }

    .subscribe_btn {
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .main_footer {
        padding: 32px 0 40px;
    }
}
