.header_main {
    position: relative;
}

.header__btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -5px;

    span {
        background: $black;
        width: 75%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -8px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 8px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}


.header_main {
    padding: 13px 0;
    position:fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #D9D9D9;
    background: #fff;
}

.header__logo {
    display: block;
    font-size: 0;
    width: 160px;
}

.header__logo img {
    width: 100%;
}

.header_main .container {
    display: flex;
    align-items: center;
}

.header__menu {
    flex: 1;
    margin-left: 78px;
    padding-top: 9px;
    margin-right: 50px;
}

.header__menu__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px 50px;
    flex-wrap: wrap;
}

.header__menu__list a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
}

body {
    padding-top: 86px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info__myaccount {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.header__info__myaccount__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translate(0,-5px);
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgb(202 195 191 / 19%);
}

.loaded .header__info__myaccount__list {    transition: .25s;}
.header__info__myaccount__view {
    display: flex;
    align-items: center;
    background: #f3792c;
    box-shadow: 2px 2px 20px rgb(243 121 44 / 33%);
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

}

.header__info__myaccount__view svg {
    margin-left: 13px;

}

.loaded .header__info__myaccount__view svg{  transition: 0.25s;}
.header__phone {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.header__phone svg {
    margin-right: 12px;
}



.header__menu__list a:hover {
    color: #db6215;
}

.header__phone:hover {
    color: #f3792d;
}

.header__phone:hover path {
    fill: #f3792d;
}

.loaded .header__phone path {
    transition: 0.25s;
}

.header__info__myaccount__view:hover {
    background: #DB6215;
}

.header__info__myaccount:hover .header__info__myaccount__list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    z-index: 1;
}

.header__info__myaccount__list a {
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
}

.header__info__myaccount__list a:hover {
    color: #f17a2b;
}

.header__info__myaccount:hover .header__info__myaccount__view svg {
    transform: rotate(180deg);
}


