html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    color: #232C2F;
}


.loaded a {
    transition: 0.25s
}


.loaded .btn_default {
    transition: 0.25s ease;
}



.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1340px;
}


.title_x {
    font-weight: bold;
    font-size: 40px;
    text-align: center;

    &--left {
        text-align: left;
    }
}



.form__field {
    position: relative;
    margin-bottom: 16px;
    flex:1;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
        }
    }

    input {
        width: 100%;
        padding: 13.5px 15px;
        line-height: 1;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 0px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 0px;
        resize: vertical;
        min-height: 110px;
        -webkit-appearance: none;
        resize: vertical;
    }
}



.btn_x {
    background: #F3792C;
    box-shadow: 2px 2px 20px rgba(243, 121, 44, 0.33);
    padding: 11px 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 240px;
    width: 100%;
    justify-content: center;
    display: inline-flex;

    &:hover{
        background: #DB6215;
    }
}