.modal__default {
    display: none;
    padding: 0;
    max-width: 620px;
    width: 100%;
}

.modal__default {
    height: 100vh;
    max-width: 820px;
    overflow: scroll;
}

.fancybox__slide {
    padding: 0;
}

.fancybox__content>.carousel__button.is-close {
    color: #000;
    top: 10px;
    right: 10px;
}

.carousel__button svg {
    filter: none;
}

.modal__inner {
    padding: 10px;
}

.modal__inner {
    max-width: 460px;
    margin:  auto;
    width: 100%;
    padding: 40px 20px 60px;
}

.modal__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 165px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.modal__logo img {
    width: 100%;
}

.modal__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    color: #483C34;
    margin-bottom: 32px;
}

.modal__default::-webkit-scrollbar {
    display: none;
}

.modal__default {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__text {
    font-size: 18px;
    line-height: 1.4;
    color: #232C2F;
    text-align: center;
    margin-bottom: 25px;
}

.modal__text a {
    color: #f3792b;
}

.modal__form .form__row {
    margin-bottom: 25px;
}

.form__row__text.form__row__text--forgot {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.form__row__text.form__row__text--forgot a {
    color: #f3792d;
}

.form__row__text.form__row__text--forgot a:hover {
    color: inherit;
    text-decoration: none;
}

.modal__text a:hover {
    text-decoration: none;
    color: inherit
}

.btn_go_home {
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.modal__text p {
    margin-bottom: 25px;
}

.modal__text p:last-child {
    margin-bottom: 0;
}

.form__field__eye {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 47px;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 47px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: 0.25s;
}

.form__field--password {
    position: relative;
}

.form__field__eye:hover {
    opacity: 0.75;
}
.form__field__eye.visible {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_332_464)'%3E%3Cpath d='M17.94 17.94C16.2306 19.243 14.1491 19.9649 12 20C5 20 1 12 1 12C2.24389 9.68189 3.96914 7.6566 6.06 6.05999M9.9 4.23999C10.5883 4.07887 11.2931 3.99833 12 3.99999C19 3.99999 23 12 23 12C22.393 13.1356 21.6691 14.2047 20.84 15.19M14.12 14.12C13.8454 14.4147 13.5141 14.6511 13.1462 14.8151C12.7782 14.9791 12.3809 15.0673 11.9781 15.0744C11.5753 15.0815 11.1752 15.0074 10.8016 14.8565C10.4281 14.7056 10.0887 14.481 9.80385 14.1961C9.51897 13.9113 9.29439 13.5719 9.14351 13.1984C8.99262 12.8248 8.91853 12.4247 8.92563 12.0219C8.93274 11.6191 9.02091 11.2218 9.18488 10.8538C9.34884 10.4858 9.58525 10.1546 9.88 9.87999' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L23 23' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_332_464'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.modal__icon {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0;
}

.form__row__login_service__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.form__row__login_service__list a {
    display: flex;
    border: 1px solid #A8ABAF;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.form__row__login_service__list a img {
    width: 20px;
    height: 23px;
    object-fit: contain;
    transition: 0.25s;
}

.form__row__login_service__list a:hover {
    background: #f3792d;
    border-color: #f3792d;
}

.form__row__login_service__list a:hover img {
    filter: brightness(0) invert(1);
}
.modal__default--left {
    align-self: flex-end;
}

.modal__default--left .modal__inner {
    max-width: 630px;
}

.modal__title.modal__title--left {
    text-align: left;
}

@media (max-width: 900px) {

    .modal__default {
        max-width: 500px;
    }

    .modal__logo {
        max-width: 145px;
        margin-bottom: 45px;
    }

    .modal__title {
        font-size: 26px;
        margin-bottom: 25px;
    }

    .modal__text {
        font-size: 16px;
        max-width: 300px;
        margin: 0 auto 30px;
    }

    .modal__form {
        max-width: 320px;
        margin: 0 auto;
    }

    .modal__form .form__row {
        margin-bottom: 20px;
    }

    .form__row__text.form__row__text--forgot {
        font-size: 16px;
    }
    .modal__icon svg{
        width: 55px;
        height: auto;
    }

.modal__default--left {
    max-width: 100%;
}


.modal__form {
    max-width: 100%;
}
}

@media (max-width: 550px) {
    .modal__form .form__row {
        margin-bottom: 16px;
    }

    .modal__title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .modal__text {
        font-size: 14px;
    }

    .modal__logo {
        max-width: 125px;
        margin-bottom: 35px;
    }

    .modal__form .form__field__title {
        font-size: 14px;
    }
}