.hero__home {
    background: url('../images/pages/home/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 390px;
    background-position: 0 100%;
    position: relative;
}

.hero__home__title {
    max-width: 955px;
    margin: 0 auto 80px;
    font-weight: 400;
    font-size: 60px;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.hero__home__title b {
    font-weight: 700;
}

.hero__home__title:after {
    content: '';
    position: absolute;
    width: 250px;
    height: 5px;
    background: #f3792c;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -10px;
}

.hero__home__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



.parking__list {
    display: flex;
    flex-wrap: wrap;
}

.parking__item {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    background: #F3792C;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 20px 20px 26px;
}

.parking__item:nth-child(4n) {
    border-right: none;
}

.parking__item:nth-child(n + 5) {
    border-bottom: 0;
}

.parking__item__icon {
    font-size: 0;
    width: 130px;
    margin-bottom: 0px;
}

.parking__item:hover {
    background: #DB6215;
}

.page__wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
}



.hero__home__social {
    position: absolute;
    right: 30px;
    bottom: 50px;
    z-index: 2;
    display: flex;
    gap: 25px;
    align-items: center;
}


.hero__home__social a {
    font-size: 0;
}


.btn_x:hover {
    background: #DB6215;
}

.hero__home__social a:hover {
    opacity: 0.5;
}

.donwload__block {
    background: #808080;
    padding: 50px 0;
    color: #fff;
}

.donwload__link_block {
    display: flex;
    align-items: center;
}

.donwload__link_x {
    display: flex;
    align-items: center;
    font-size: 0;
    gap: 20px;
}

.donwload__block .container {
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.donwload__link_x a {
    width: 150px;
}

.donwload__link_x a img {
    width: 100%;
}

.donwload__link_block__title {
    margin-right: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
}

.donwload__link_phone {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    margin-top: 6px;
    margin-right: 20px;
}

.donwload__link_phone svg {
    margin-right: 9px;
}

.donwload__link_phone:hover {
    opacity: 0.75;
}

.donwload__link_x a:hover {
    transform: scale(1.05);
}

.earn_us__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 105%;
    text-transform: uppercase;
    color: #483C34;
    text-align: center;
    margin-bottom: 40px;
}

.earn_us {
    background: linear-gradient(126.06deg, #F1F1F1 18.4%, #FBF4EB 76.13%);
    padding: 81px 0 50px;
}

.orange__color {
    color: #F3792C;
}

.earn_us__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 40px;
}

.earn_us__list__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 105%;
    text-transform: uppercase;
    color: #483C34;
    margin-bottom: 23px;
}


.earn_us__list__col {
    flex: 1;
}

.earn_us__list_x__item {
    display: flex;
    flex: 1;
    margin-bottom: 30px;
    align-items: center;
}

.earn_us__list_x__item__icon {
    display: flex;
    width: 45px;
    margin-right: 10px;
}

.earn_us__list_x__item__text {
    flex: 1;
    font-size: 20px;
    max-width: 360px;
    line-height: 1.1;
}

.earn_us__list_x__item__text b {
    font-weight: 600;
}


.home__book__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 105%;
/* or 67px */
    text-transform: uppercase;
    color: #232C2F;
    max-width: 250px;
    position: relative;
    z-index: 1;
}

.home__book .container {
    display: flex;
    flex-wrap: wrap;
}

.home__book__col_1 {
    width: 420px;
    position: relative;
    padding: 130px 0;
}

.home__book__col_2 {
    width: calc(100% - 420px);
    padding: 95px 0 77px 130px;
}

.home__book__col_1:before {
    content: '';
    position: absolute;
    left: calc(-1 * (100vw - 1300px) / 2);
    top: 0;
    height: 100%;
    right: 0;
    background: url("../images/pages/home/bg.jpg");
    background-size: cover;
    background-position: 50%;
}

.home__book__form__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.form__field--big {
    flex: 2.1;
}

.form__field--small {
    flex: none;
    width: 220px;
}

.select2-container {
    width: 100% !important;
}

.home__book__form_x {
    max-width: 640px;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    height: auto;
}

.home__book__form_x .form__field--btn input[type=submit] {
    max-width: 310px;
    padding: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    height: auto;
    padding: 18px 22px;
    line-height: 1;
    padding-right: 50px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #e9752c;
}

.select2-container--open .select2-dropdown {
    border-radius: 0;
}

.select2-results__option {
    padding: 12px 20px;
}

.select2-container--default .select2-results__option--selected {
    background: #ffdac3;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    width: 47px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.home__download .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.home__download__info {
    max-width: 860px;
    padding: 88px 0 75px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home__download__image {
    left: 880px;
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - 1340px)/2);
    bottom: 0;
    background: url("../images/pages/home/bg_1.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.home__download__mockup {
    width: 230px;
}

.home__download__info_x {
    flex: 1;
    padding-left: 100px;
    max-width: 550px;
    margin-top: -8px;
}

.home__download__info_title {
    font-weight: 600;
    font-size: 64px;
    line-height: 105%;
    text-transform: uppercase;
    color: #483C34;
    margin-bottom: 44px;
}

.home__download__info_list {
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    color: #303C3F;
    margin-bottom: 40px;
}

.home__download__info_list ul {
    list-style: none;
}

.home__download__info_list li {
    padding-left: 34px;
    position: relative;
    margin-bottom: 23px;
}

.home__download__info_list li:before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='%23F3792C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 18px;
    height: 18px;
    content: '';
    left: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    top: -1px;
}

.home__download__info_list li:last-child {
    margin-bottom: 0;
}

.home__download__links {
    display: flex;
    gap: 40px;
    margin-bottom: 59px;
}

.home__download__links a {
    display: flex;
    align-items: flex-start;
}

.home__download__social {
    display: flex;
    align-items: center;
    gap: 49px;
}

.home__download__social a {
    font-size: 0;
}

.home__download__social a:hover path {
    fill: #f3792c;
}




.loaded .home__download__social a path {transition: 0.25s ease-in-out;}
.home__download__links a:hover {
    transform: scale(1.05);
}

@media (max-width: 1340px) {
    .home__book__col_1:before {
        left: -20px;
    }

    .home__download__image {
        right: -20px;
    }
}


@media (max-width: 1300px) {
    .earn_us__title {
        font-size: 44px;
        margin-bottom: 55px;
        text-align: left;
        max-width: 500px;
        line-height: 1.25;
    }

    .earn_us {
        padding: 65px 0;
    }

    .earn_us__row {
        max-width: 100%;
    }

    .earn_us__list__title {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .earn_us__list_x__item__text {
        font-size: 20px;
    }

    .earn_us__list_x__item__icon {
        width: 40px;
        margin-right: 24px;
    }

    .donwload__link_phone {
        font-size: 18px;
    }

    body {
        padding-top: 65px;
    }

    .header__menu__list a {
        font-size: 16px;
    }

    .header__logo {
        width: 100px;
    }

    .header__menu {
        margin: 0 20px;
        justify-content: center;
        display: flex;
    }

    .hero__home__title {
        font-size: 44px;
        max-width: 710px;
    }

    .hero__home {
        padding: 75px 0 0px;
        height: 500px;
        background-position: 50% 0;
    }

    .header__info__myaccount__view {
        font-size: 14px;
        padding: 10px 20px;
    }

    .header__info__myaccount__view svg {
        width: 20px;
        margin-left: 9px;
    }

    .header__phone {
        font-size: 16px;
    }

    .header__phone svg {
        margin-right: 12px;
        width: 18px;
    }

    .header_main {
        padding: 10px 0;
    }

    .header__info__myaccount__list a {
        font-size: 13px;
        padding: 4px 0;
    }

    .header__info__myaccount__list {
        padding: 10px 18px;
    }
}




@media (max-width: 1100px) {
    .home__download__info {
        max-width: 580px;
        padding: 75px 0;
    }

    .home__download__image {
        left: 600px;
    }

    .home__download__mockup {
        width: 150px;
    }

    .home__download__info_title {
        font-size: 30px;
        max-width: 240px;
        margin-bottom: 28px;
    }

    .home__download__info_x {
        padding-left: 50px;
        margin-top: 0;
        max-width: 430px;
        padding-right: 50px;
    }

    .home__download__info_list {
        font-size: 14px;
        margin-bottom: 35px;
    }

    .home__download__info_list li {
        margin-bottom: 15px;
        padding-left: 32px;
    }

    .home__download__info_list li:before {
        width: 16px;
        height: 16px;
    }

    .home__download__links {
        max-width: 230px;
        gap: 20px;
        margin-bottom: 30px;
    }

    .home__download__social {
        gap: 25px;
    }

    .home__book__title {
        font-size: 44px;
    }

    .home__book__col_1 {
        width: 300px;
    }

    .home__book__col_2 {
        width: calc(100% - 300px);
        padding: 75px 50px;
    }

    .home__book__form {
        max-width: 500px;
        margin: 0 auto;
    }

    .home__book__form__title {
        font-size: 26px;
    }
}

@media (max-width: 1000px) {
    .parking__item__icon {
        width: 95px;
        margin-bottom: 5px;
    }

    .parking__item {
        font-size: 18px;
        font-weight: 400;
    }

    .hero__home {
        padding-top: 100px;
        height: 670px;
        background-size: cover;
    }

    body {
        padding-top: 59px;
    }

    .header__menu {
        display: none;
    }

    .header__info {
        flex: 1;
        justify-content: flex-end;
    }

    .header__btn_menu {
        display: flex;
        margin-left: 20px;
    }

    .header__info__myaccount__view {
        padding: 7px 20px;
        font-size: 13px;
    }
}

@media (max-width: 900px) {
    .donwload__link_block__title {
        font-size: 16px;
        margin-right: 31px;
    }

    .donwload__link_x a {
        width: 130px;
    }

    .donwload__block {
        padding: 40px 0;
    }

    .earn_us__row {
        flex-direction: column;
        gap: 20px;
    }

    .hero__home__title {
        font-size: 28px;
        max-width: 500px;
        line-height: 1.1;
        margin-bottom: 70px;
    }

    .hero__home__title:after {
        max-width: 120px;
    }

    .hero__home {
        padding-top: 60px;
        min-height: 430px;
        background-size: 1100px;
        background-position: 50% -120px;
        height: auto;
    }

    .btn_x {
        max-width: 200px;
        text-align: center;
        font-size: 15px;
        padding: 9px;
    }
    .home__book .container {
        flex-direction: column;
    }

    .home__book__col_1 {
        width: calc(100% + 40px);
        margin-left: -20px;
        text-align: center;
        padding: 50px 20px;
    }

    .home__book__title {
        margin: 0;
        max-width: 100%;
        font-size: 32px;
    }

    .home__book__col_2 {
        width: 100%;
        padding: 55px 0;
    }

    .home__book__form__title {
        text-align: center;
    }

    .home__book__form_x .form__field--btn input[type=submit] {
        margin: 0 auto;
    }

    .home__download__info {
        width: 100%;
        justify-content: center;
        max-width: 440px;
        margin: 0 auto;
        padding: 55px 0;
    }

    .home__download .container {
        flex-direction: column;
    }

    .home__download__image {
        position: static;
        width: calc(100% + 40px);
        order: -1;
        height: 350px;
        margin-left: -20px;
    }

    .home__download__info_x {
        padding-right: 0;
        padding-left: 30px;
    }
}

@media (max-width: 800px) {
    .parking__item {
        width: calc(100% / 2);
    }

    .parking__item,
    .parking__item:nth-child(n+5) {
        border-bottom: 1px solid #fff;
        border-right: 0;
        border-top: 0;
    }

    .parking__item:nth-child(2n + 1) {
        border-right: 1px solid #fff;
    }
}

@media (max-width: 750px) {
    .donwload__block .container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: l;
    }

    .donwload__link_phone {
        margin: 0 auto 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .donwload__link_block__title {
        display: block;
        margin: 0 0 14px;
        font-weight: 600;
        font-size: 14px;
    }

    .donwload__block {
        padding: 32px 0;
    }

    .donwload__link_block {
        flex-direction: column;
    }

    .donwload__link_x {
        gap: 10px;
    }

    .donwload__link_phone svg {
        margin-top: 1px;
    }
}


@media (max-width: 550px) {

    .earn_us__title {
        font-size: 26px;
        max-width: 300px;
        margin-bottom: 40px;
    }

    .earn_us {
        padding: 45px 0;
    }

    .earn_us__list__title {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .earn_us__list_x__item__text {
        font-size: 16px;
        max-width: 100%;
        line-height: 1.3;
    }

    .earn_us__list_x__item__icon {
        margin-right: 14px;
        width: 35px;
    }

    .earn_us__list_x__item {
        margin-bottom: 15px;
    }

    .earn_us__list_x__item:last-child {
        margin-bottom: 0;
    }

    .earn_us__row {
        gap: 35px;
    }

    .hero__home__social {
        bottom: 50px;
    }

    .header__info__myaccount {
        display: none;
    }

    .header__phone {
        font-size: 13px;
    }

    .header__btn_menu {
        margin-left: 11px;
    }

    .header__logo {
        width: 90px;
    }

    .header__phone svg {
        width: 15px;
    }

    .hero__home__title {
        font-size: 21px;
        max-width: 400px;
        line-height: 1.35;
        margin-bottom: 50px;
    }

    body {
        padding-top: 55px;
    }

    .hero__home__title:after {
        bottom: -19px;
        max-width: 75px;
        height: 3.5px;
    }

    .hero__home__btns {
        flex-direction: column;
        gap: 9px;
    }

    .btn__hero__home {
        width: 100%;
        max-width: 240px;
        font-size: 14px;
        padding: 8px;
    }

    .hero__home__social {
        right: 0;
        left: 0;
        margin: auto;
        justify-content: center;
    }

    .hero__home__social svg {
        width: 25px;
        height: auto;
    }

    .parking__item__icon {
        width: 70px;
    }

    .parking__item {
        font-size: 13px;
        padding: 20px 10px;
    }
    .form__field--small {
        width: 100%;
    }

    .home__book__form {
        max-width: 400px;
    }

    .home__download__image {
        height: 310px;
    }

    .home__download__mockup {
        width: 110px;
        margin-left: -15px;
        margin-top: -5px;
    }

    .home__download__info_x {
        padding-left: 25px;
        width: calc(100% - 110px);
    }

    .home__download__info_title {
        font-size: 24px;
        max-width: 140px;
        line-height: 1.15;
        margin-bottom: 21px;
    }

    .home__download__info_list li:before {
        width: 12px;
        height: 12px;
        margin-top: 2px;
    }

    .home__download__info_list li {
        padding-left: 25px;
    }

    .home__download__info_list {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .home__download__info {
        padding: 44px 0;
    }

    .home__download__social a svg {
        width: 26px;
        height: auto;
    }

    .home__download__social a {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
    }

    .home__download__social {
        gap: 15px;
    }

    .home__download__links {
        gap: 10px;
        margin-bottom: 25px;
    }

    .home__book__form__title {
        font-size: 22px;
    }
}