<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">
            <a href="" class="modal__menu__top__logo">
                <img src="images/logo.svg" alt="main logo">
            </a>
            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>

        <div class="modal__menu__nav">
            <ul class="modal__menu__list">
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">PROPERTY OWNERS</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>

        <div class="modal__menu__phone">
            <a href="tel:(833) 300-XTRA">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.0001 15.42V18.42C20.0012 18.6985 19.9441 18.9741 19.8326 19.2293C19.721 19.4845 19.5574 19.7136 19.3521 19.9018C19.1469 20.0901 18.9046 20.2335 18.6408 20.3227C18.377 20.4119 18.0974 20.445 17.8201 20.42C14.7429 20.0856 11.7871 19.0341 9.19005 17.35C6.77388 15.8146 4.72539 13.7661 3.19006 11.35C1.50003 8.74118 0.448298 5.77097 0.120055 2.67997C0.0950657 2.40344 0.12793 2.12474 0.216556 1.8616C0.305181 1.59846 0.447626 1.35666 0.634821 1.1516C0.822016 0.946528 1.04986 0.782684 1.30385 0.670497C1.55783 0.558309 1.8324 0.500236 2.11006 0.499975H5.11006C5.59536 0.495198 6.06585 0.667053 6.43382 0.983508C6.80179 1.29996 7.04213 1.73942 7.11005 2.21997C7.23668 3.18004 7.47151 4.1227 7.81006 5.02997C7.9446 5.3879 7.97372 5.77689 7.89396 6.15086C7.81421 6.52482 7.62892 6.86809 7.36005 7.13998L6.09006 8.40997C7.51361 10.9135 9.58651 12.9864 12.0901 14.41L13.3601 13.14C13.6319 12.8711 13.9752 12.6858 14.3492 12.6061C14.7231 12.5263 15.1121 12.5554 15.4701 12.69C16.3773 13.0285 17.32 13.2634 18.2801 13.39C18.7658 13.4585 19.2095 13.7032 19.5266 14.0775C19.8437 14.4518 20.0122 14.9296 20.0001 15.42Z" fill="#232C2F"></path>
                </svg>
                (833) 300-XTRA
            </a>
        </div>

        <div class="modal__menu__myaccount">
            <ul>
                <li><a href="">My account</a></li>
                <li><a href="">Drivers</a></li>
                <li><a href="">Property Owners</a></li>
            </ul>
        </div>
    </div>
</div>



<div id="js_modal_login" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__title">Login to your account</div>
        <div class="modal__text">New to <b>Xtra</b>? <a href=""><b>Create account</b></a></div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Email">
                </label>
            </div>

            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">Password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>

            <div class="form__row__text form__row__text--forgot">
                Forgot your password? <a href=""><b>Reset password</b></a>
            </div>

            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Send">
                </div>
            </div>

        </form>
        <div class="form__row__login_service__list">
            <a href="">
                <img src="images/icons/login/amazon.svg">
            </a>
            <a href="">
                <img src="images/icons/login/fb.svg">
            </a>
            <a href="">
                <img src="images/icons/login/google.svg">
            </a>
        </div>
    </div>
</div>



<div id="js_modal_reset_password" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__title">Reset password</div>
        <div class="modal__text">Please enter your email address. You will receive an email message with instructions on how to reset your password.</div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Email">
                </label>
            </div>

            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Get new password">
                </div>
            </div>

        </form>
    </div>
</div>




<div id="js_modal_thank" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__title">Thank you!</div>
        <div class="modal__text">
            <p>We sent a message to <a href="mailto:email@email"><b>email@email</b></a>,  so you can choose your new password.</p>
            <p>Didn’t get the email? <a href=""><b>Try again.</b></a></p>
        </div>

        <a href="#" class="btn_default btn_x btn_go_home">Go home page</a>
    </div>
</div>






<div id="js_modal_new_password" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__title">Pick new password</div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">

            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">New password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>


            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Change password">
                </div>
            </div>

        </form>
    </div>
</div>



<div id="js_modal_password_changed" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>

        <div class="modal__icon">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.1654 14.7504L25.1237 52.792L7.83203 35.5004" stroke="#F3792C" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="modal__title">Password Changed!</div>
        <div class="modal__text">Your password has been changed successfully!</div>

        <a href="#" class="btn_default btn_x btn_go_home">Login</a>
    </div>
</div>




<div id="js_modal_registration" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__title">Register</div>
        <div class="modal__text">Already have an account? <a href=""><b>Login</b></a></div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Email">
                </label>
            </div>

            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">Password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>


            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Login">
                </div>
            </div>

        </form>
        <div class="form__row__login_service__list">
            <a href="">
                <img src="images/icons/login/amazon.svg">
            </a>
            <a href="">
                <img src="images/icons/login/fb.svg">
            </a>
            <a href="">
                <img src="images/icons/login/google.svg">
            </a>
        </div>
    </div>
</div>



<div id="js_modal_rent_now" class="modal__default modal__default--left modal_rent_now">
    <div class="modal__inner">
        <div class="modal__title modal__title--left">Rent now</div>


        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Full name</div>
                    <input type="text" name="name" required placeholder="Your name">
                </label>
            </div>

            <div class="form__row">
                <div class="form__row">
                    <label class="form__field">
                        <div class="form__field__title">Email</div>
                        <input type="email" name="email" required placeholder="Email">
                    </label>
                    <label class="form__field">
                        <div class="form__field__title">Phone</div>
                        <input type="tel" name="phone" required placeholder="Contact phone">
                    </label>
                </div>
            </div>

            <div class="form__row">
                <label class="form__field form__field--big">
                    <div class="form__field__title">Type of vehicles</div>
                    <select name="type_of_vehicles" class="js_select" required placeholder="Type of vehicles">
                        <option value=""></option>
                        <option value="1">Вариант 1</option>
                        <option value="2">Вариант 2</option>
                        <option value="3">Вариант 3</option>
                    </select>
                </label>
                <label class="form__field form__field--small">
                    <div class="form__field__title">Number of vehicles</div>
                    <select name="type_of_vehicles" class="js_select" required placeholder="Number of vehicles">
                        <option value=""></option>
                        <option value="1">Вариант 1</option>
                        <option value="2">Вариант 2</option>
                        <option value="3">Вариант 3</option>
                    </select>
                </label>
            </div>

            <div class="form__row">
                <div class="form__row">
                    <label class="form__field">
                        <div class="form__field__title">Park in</div>
                        <input type="date" name="park_in_date" required placeholder="mm/dd/yy">
                    </label>
                    <label class="form__field">
                        <div class="form__field__title">Time</div>
                        <input type="time" name="park_in_time" required placeholder="12:00 am">
                    </label>
                </div>
            </div>

            <div class="form__row">
                <div class="form__row">
                    <label class="form__field">
                        <div class="form__field__title">Park out</div>
                        <input type="date" name="park_out_date" required placeholder="mm/dd/yy">
                    </label>
                    <label class="form__field">
                        <div class="form__field__title">Time</div>
                        <input type="time" name="park_out_time" required placeholder="12:00 am">
                    </label>
                </div>
            </div>



            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Message</div>
                    <textarea name="message" placeholder="Message"></textarea>
                </label>
            </div>


            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>



<div id="js_modal_rent_now_thank" class="modal__default modal__default--left modal_rent_now__thank">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="images/logo.svg">
        </div>
        <div class="modal__icon">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.1654 14.7504L25.1237 52.792L7.83203 35.5004" stroke="#F3792C" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="modal__title">Thank you!</div>
        <div class="modal__text">
            <p>We sent a message to <a href="mailto:email@email"><b>email@email</b></a>,<br>  so you can choose your new password.</p>
        </div>

        <a href="#" class="btn_default btn_x btn_go_home">Ok</a>
    </div>
</div>






<div class="modal__menu__overlay js_modal__menu__overlay"></div>