.header_main--dashboard {
    background: #7E6C61;
    box-shadow: 1.96073px 1.96073px 19.6073px rgba(148, 146, 145, 0.2);
    color: #fff;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__login__myaccount {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

.header__login__myaccount a {
    color: inherit;
    text-decoration: none;
}

.btn_logout {
    padding: 12px 31px;
    display: inline-flex;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    border: 1px solid;
    margin-left: 14px;
}

.dashboard_page__title {
    margin: 0 0 20px;
    font-size: 31.25px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
}

.dashboard_page__text--start {
    max-width: 620px;
    margin-top: 90px;
    font-size: 18px;
}

.dashboard_page {
    padding: 60px 0;
}

.dashboard_page__text__hello {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.dashboard_page__text--start a {
    color: #084E95;
    text-decoration: none;
    font-weight: 700;
}

.dashboard_page__text--start a:hover {
    text-decoration: none;
}

.dashboard_page__text--start p {
    margin-bottom: 20px;
}

.dashboard_page__text--start p:last-child {
    margin-bottom: 0;
}

.btn_logout:hover {
    background: #fff;
    color: #7e6c60;
}

.header__login__myaccount a:hover {
    color: #f17a2b;
}

.header_main--dashboard .header__btn_menu span {
    background: #fff;
}

.modal__menu--dashboard {
    background: #483c34;
    color: #fff;
}

.modal__menu--dashboard a {
    color: inherit;
}

.modal__menu__login .header__login__myaccount {
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
}

.modal__menu__login {
    border-top: 1px solid rgb(255 255 255 / 50%);
    padding-top: 25px;
    margin-top: 30px;
}

.modal__menu__login .btn_logout {
    margin: 0;
    width: 100%;
    justify-content: center;
    max-width: 200px;
    font-size: 14px;
}

.dashboard_setting__form {
    max-width: 640px;
    margin-top: 85px;
}

.dashboard_setting__form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.form__field--small_2 {
    max-width: 420px;
}

.form__line {
    margin: 20px 0 30px;
    background: #ccc;
    border: none;
    height: 1px;
}



.dashboard_top_requested__status {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #DB6115;
    background: rgba(243, 121, 44, 0.4);
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.dashboard_top_requested {
    display: flex;
    align-items: center;
    gap: 20px;
}


.dashboard_top_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.dashboard_page__diagramm {
    max-width: 800px;
}

.dashboard_top_requested__price b {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}

.dashboard_top_requested__price {
    display: inline-flex;
    align-items: flex-start;
}

.dashboard_top_row .dashboard_page__title {
    flex: 1;
    margin-right: 50px;
    margin-bottom: 0;
}

.dashboard_page__diagramm__select {
    max-width: 300px;
    margin-bottom: 50px;
}


.form__field.form__field--zip {
    flex: none;
    width: 90px;
}

.form__line__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 105%;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.dashboard_reservation__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 20px;
}

.form__field__btn_search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 54px;
    background: transparent;
    border: none;
    appearance: none;
}

.form__field.form__field--search {
    width: 310px;
    flex: none;
}

.dashboard_reservation__top__line {
    flex: 1;
    max-width: 900px;
}

.btn_dashboard_reservation {
    font-weight: 300;
    max-width: 220px;
    padding: 13.5px 20px;
}

.dashboard_reservation {
    margin-top: 85px;
}

.dashboard_reservation__top__line .form__row {
    flex-wrap: wrap;
    gap: 0 20px;
}

.dashboard_reservation__tab {
    border-bottom: 1px solid #B1B9D3;
    display: flex;
    gap: 30px;
}

.dashboard_reservation__tab a {
    font-size: 18px;
    line-height: 105%;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;
    position: relative;
}

.dashboard_reservation__tab a:hover {
    color: #f3792d;
}

.dashboard_reservation__tab a.active {
    font-weight: 500;
}

.dashboard_reservation__tab a:after {
    width: 100%;
    height: 2px;
    background: #f3792d;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    transition: 0.25s;
    opacity: 0;
}

.dashboard_reservation__tab a.active:after {
    opacity: 1;
}

.form__field__btn_search:hover path {
    stroke: #000;
}


.modal__pay_logo {
    font-size: 0;
    margin-bottom: 25px;
}

.modal__pay_info__title {
    font-size: 16px;
    margin-bottom: 2px;
}

.modal__pay_info__value {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    color: #F3792C;
}

.modal__pay_info {
    margin-bottom: 24px;
}

.modal__pay_user__info {
    font-weight: 500;
    font-size: 18px;
}

.modal__pay_user__info p {
    margin-bottom: 5px;
}

.modal__pay_user__info p:last-child {
    margin-bottom: 0;
}

.modal__pay_user {
    position: relative;
    padding-right: 60px;
    margin-bottom: 40px;
}

.modal__pay_user__edit {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #F3792C;
    text-decoration: none;
}

.modal__pay_user__edit:hover {
    color: inherit;
}

.modal__addtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 105%;
    text-align: center;
    text-transform: uppercase;
    color: #483c34;
    margin-bottom: 32px;
    margin-top: 32px;
}

.btn_modal_go_home {
    width: 100%;
    max-width: 100%;
    padding: 14px;
}

.dashboard_reservation__top__line--small {
    max-width: 680px;
}

.dashboard_reservation__top .form__field {
    flex-basis: 200px;
}

.dashboard_reservation__top .form__field.form__field--search {
    flex-basis: auto;
}


.dashboard_top_requested__btn {
    padding: 10px 37px;
    white-space: nowrap;
}

.dashboard_reservation__point_list {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 20px;
}

.dashboard_reservation__point_item {
    background: #FFFFFF;
    border: 2px solid #A8ABAF;
    padding: 20px 20px 59px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard_reservation__point_item_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.dashboard_reservation__point_item_col_1 {
    width: 33.25%;
}

.dashboard_reservation__point_item__access__title {
    font-weight: 600;
    margin-bottom: 11px;
}

.dashboard_reservation__point_item__access__list b {
    margin-right: 8px;
}

.dashboard_reservation__point_item__access__list ul {
    list-style: none;
}

.dashboard_reservation__point_item__access__list li {
    margin-bottom: 4px;
}

.dashboard_reservation__point_item_col_2 {
    width: 190px;
}

.dashboard_reservation__point_item_col_3 {
    width: 16%;
}

.dashboard_reservation__point_item_col_4 {
    width: 20%;
}

.dashboard_reservation__point_item_edit {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #F3792C;
}

.dashboard_reservation__point_item_edit:hover {
    text-decoration: none;
    color: inherit;
}

.dashboard_reservation__point_item_space {
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    /* identical to box height, or 32px */
}

.dashboard_reservation__point_item_take b {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height */
    text-transform: uppercase;
    color: #F3792C;
}

.dashboard_reservation__point_item_take {
    display: inline-block;
}

.dashboard_reservation__point_item_adress {
    display: flex;
    align-items: flex-start;
    margin-bottom: 42px;
}


.dashboard_reservation__point_item_adress__inner {
    flex: 1;
    display: block;
    max-width: 260px;
    line-height: 1.5;
}

.dashboard_reservation__point_item_adress svg {
    margin-right: 5px;
}

.dashboard_reservation__point_item_price b {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 5px;
}

.dashboard_reservation__point_item_price {
    display: inline-flex;
    align-items: center;
}

.dashboard_reservation__point_item_col_5 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.tab_item {
    display: none;
}

.tab_item.active {
    display: block;
}

.dashboard_reservation__table_list {
    padding: 40px 0;
}

.dash_th {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    background: #F1F1F1;
    border-right: 1px solid #A8ABAF;
    flex: 1;
    padding: 16px 20px;
    cursor: pointer;

}
.loaded .dash_th{  transition: 0.25s;}

.dash_tr {
    display: flex;
}

.dash_td {
    border-right: 1px solid #A8ABAF;
    flex: 1;
    padding: 20px 20px 10px;
}

.dash_th__inner:after {
    content: '';
    width: 10px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.704297 6.85644L0.753516 6.80172L4.47227 2.72408C4.59805 2.58598 4.78672 2.5 4.99727 2.5C5.20781 2.5 5.39648 2.58859 5.52227 2.72408L9.23828 6.7939L9.30117 6.86165C9.34766 6.92678 9.375 7.00495 9.375 7.08833C9.375 7.31501 9.17266 7.5 8.92109 7.5H1.07891C0.827344 7.5 0.625 7.31501 0.625 7.08833C0.625 7.00234 0.655078 6.92157 0.704297 6.85644Z' fill='%23084E95'/%3E%3Cpath d='M0.704297 13.1436L0.753516 13.1983L4.47227 17.2759C4.59805 17.414 4.78672 17.5 4.99727 17.5C5.20781 17.5 5.39648 17.4114 5.52227 17.2759L9.23828 13.2061L9.30117 13.1384C9.34766 13.0732 9.375 12.995 9.375 12.9117C9.375 12.685 9.17266 12.5 8.92109 12.5H1.07891C0.827344 12.5 0.625 12.685 0.625 12.9117C0.625 12.9977 0.655078 13.0784 0.704297 13.1436Z' fill='%23084E95'/%3E%3C/svg%3E%0A");
    margin-left: 15px;
}

.dash_th__inner {
    white-space: nowrap;
}

.dash_td--type {
    flex: none;
    width: 300px;
    text-align: left;
}

.dash_td__inner.dash_td__inner--with_remove {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dash_td--cost {
    width: 140px;
    flex: none;
}

.dash_td--quality {
    flex: none;
    width: 110px;
}

.dash_td--status {
    width: 130px;
    flex: none;
}

.dash_th:hover {
    color: #064e95;
}


.dash_table {
    min-width: 1200px;
}
.dash_table--475{ min-width: 475px;}

.dash_table__wrap {
    overflow: scroll;
    margin: 0 -20px;
    padding: 0 20px;
}

.dash_table__wrap::-webkit-scrollbar {
    display: none;
}

.dash_table__wrap {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dash_th:last-child,
.dash_td:last-child {
    border: none;
}

.btn_modal_bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn_modal_reservation {
    flex: 1 0 200px;
    width: auto;
    display: flex;
    max-width: none;
}

.btn_r {
    padding: 15px 20px;
    justify-content: center;
    text-align: center;
    color: #f3792d;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
}

.btn_r:hover {
    color: inherit;
}

.dash_td--customer {
    width: 210px;
    flex: none;
}

.dash_td__customer__phone {
    color: #777777;
    font-size: 14px;
}

.dashboard_top__col {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 20px;
}

.dashboard_top__col .dashboard_page__title {
    flex: none;
    margin-right: 50px;
}

.custom_select__list {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -5px);
    pointer-events: none;

    background: #fff;
    border: 1px solid #aaa;
    padding: 12px;
    width: 160px;
    z-index: 4;
}
.loaded .custom_select__list{ transition: 0.25s;}
.custom_select__view__btn {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    transition: 0.25s;
}

.custom_select__view {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.custom_select__view__value {
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.active.custom_select .custom_select__list {
    opacity: 1;
    transform: none;
    visibility: visible;
    pointer-events: all;
}

.custom_select__list ul {
    list-style: none;
}

.custom_select__list li {
    font-size: 16px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.25s;
}

.custom_select__list li:last-child {
    margin-bottom: 0;
}

.custom_select__list li:hover {
    color: #f3792b;
}

.active.custom_select .custom_select__view__btn {
    transform: rotate(180deg);
}

.dashboard_reservation__top__line__empty {
    width: 200px;
}

.dashboard_reservation__top__line.dashboard_reservation__top__line--full {
    max-width: 100%;
}


.dashboard_page__back {
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    gap: 10px;
    margin-top: 3px;
}

.dashboard_page__back:hover {
    color: #f17a2b;
}

.dashboard_page__back:hover path {
    stroke: #f17a2b;
}

.dashboard_page__back path {
    transition: 0.25s;
}

.form__field--radio__item__text {
    font-weight: 400;
    font-size: 18px;
    margin-left: 11px;
}

.form__field--radio__item__view {
    width: 16px;
    height: 16px;
    border: 1px solid #232c2f;
    border-radius: 50%;
    position: relative;
    transition: 0.25s;
}

.form__field--radio__item__view:before {
    position: absolute;
    content: '';
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #F3792C;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 0;
}

.form__field--radio__item__view:checked:before {
    opacity: 1;
}

.form__field--radio__item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.form__field--radio__item {
    display: inline-flex;
    align-items: center;
}

.form__field--radio__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    align-items: flex-start;
}

.form__field--radio__item input:checked+.form__field--radio__item__view:before {
    opacity: 1;
}

.form__field--radio__item input:checked+.form__field--radio__item__view {
    border-color: #f3792d;
}

.form__block__available {
    margin-top: 25px;
}

.form__block__available__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #232C2F;
    margin-bottom: 12px;
}

.form__block__available__item__title__view {
    background: rgba(243, 121, 44, 0.33);
    border-radius: 20px;
    height: 11px;
    width: 100%;
    margin-bottom: 8px;
    transition: 0.25s;
}

.form__block__available__row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.form__block__available__item__title__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    /* identical to box height */
    text-transform: uppercase;
    margin-bottom: 10px;
}

form.new__parking_form {
    max-width: 750px;
}

.form__block__available__item__line__field input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #aaa;
    border-radius: 0;
    appearance: none;
    text-align: center;
}

.form__block__available__item__line__field input::-webkit-outer-spin-button,
.form__block__available__item__line__field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__block__available__item__line__field input[type=number] {
    -moz-appearance: textfield;
}

.form__block__available__item__line__divide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    font-size: 20px;
    font-weight: 300;
}

.form__block__available__item__line {
    pointer-events: none;
    opacity: 0.5;
    transition: 0.25s;
}

.form__block__available__item__line.active {
    pointer-events: all;
    opacity: 1;
}

.form__block__available__item__title input {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.form__block__available__item__title input:checked+.form__block__available__item__title__view {
    background: #f3792b;
}

.form__block__available__item {
    width: calc(100% / 7 - 18px);
}

.btn_add_space {
    position: absolute;
    right: -55px;
    bottom: 22px;
    width: 40px;
    height: 40px;
    background: #B1B9D3;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form__row__with_add_btn {
    position: relative;
}

.btn_add_space:hover {
    background: #5897fb;
}


.loaded .row_contact__col__add_info__item a path { transition: 0.25s ease-in-out;}
.loaded .form__field--btn input[type='submit'] { transition: 0.25s ease-in-out;}

@media (max-width: 1100px) {

    .dashboard_reservation__point_item_col_1 {
        width: 50%;
        margin-bottom: 15px;
    }

    .dashboard_reservation__point_item_col_2 {
        width: calc(50% - 20px);
    }

    .dashboard_reservation__point_item_title {
        max-width: 400px;
    }

    .dashboard_reservation__point_item_col_3 {
        width: 110px;
        align-self: center;
    }

    .dashboard_reservation__point_item {
        padding-bottom: 40px;
    }

    .dashboard_reservation__point_item_col_4 {
        line-height: 1.2;
        align-self: center;
        flex: 1;
        justify-content: center;
        display: flex;
    }

    .dashboard_reservation__point_item_space {
        line-height: 1.2;
    }

    .dashboard_reservation__point_item_col_5 {
        align-self: center;
    }

    .dashboard_reservation__point_item_adress {
        margin-bottom: 35px;
    }
}



@media (max-width: 1000px) {
    .dashboard_reservation__top__line__empty {
        display: none
    }

    .header__login {
        flex: 1;
        justify-content: flex-end;
    }

    .dashboard_top__col {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .reservation__select {
        margin-top: 15px;
    }
}

@media (max-width: 900px) {
    .btn_add_space {
        position: static;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -10px;
    }
}



@media (max-width: 700px) {
    .dashboard_reservation__top {
        flex-direction: column;
    }

    .form__block__available__item {
        width: calc(100% / 4 - 18px);
    }
}

@media (max-width:600px) {
    .header__login__myaccount {
        display: none;
    }

    .btn_logout {
        font-size: 12px;
        padding: 9px 25px;
        margin-left: 0;
    }

    .dashboard_page__title {
        font-size: 22px;
    }

    .dashboard_page__text--start {
        margin-top: 30px;
        font-size: 15px;
        line-height: 1.5;
    }

    .dashboard_page__text__hello {
        font-size: 19px;
    }

    .dashboard_page {
        padding: 40px 0 100px;
    }


    .dashboard_top_row {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .dashboard_top_requested__status {
        font-size: 14px;
        padding: 12px 25px;
    }

    .dashboard_top_requested__price b {
        font-size: 20px;
    }

    .dashboard_reservation__point_item_col_2 {
        width: 100%;
        border: 1px solid;
        border-left: 0;
        border-right: 0;
        padding: 30px 0;
    }

    .dashboard_reservation__point_item_col_1 {
        width: 100%;
    }

    .dashboard_reservation__point_item_col_3 {
        width: 100%;
    }

    .dashboard_reservation__point_item_col_4 {
        justify-content: flex-start;
    }

    .dashboard_page__back {
        font-size: 16px;
        border: 1px solid #aaa;
        padding: 7px 15px;
        border-radius: 2px;
    }

    .dashboard_page__back:hover {
        background: #f17a2b;
        color: #fff;
        border-color: #f17a2b;
    }

    .dashboard_page__back:hover path {
        stroke: #fff;
    }
}

@media (max-width:550px) {
    .dashboard_reservation__top .form__field {
        flex-basis: auto;
    }

    .form__field--small_2 {
        max-width: 100%;
    }

    .form__field.form__field--zip {
        width: 100%;
    }


    .dashboard_reservation__top__line {
        flex: none;
        width: 100%;
    }

    .form__field.form__field--search {
        width: 100%;
    }

    .form__field-city_x {
        width: 100%;
    }

    .form__field--state_x {
        max-width: 100%;
    }

    .form__field--zip_x {
        width: 100%;
    }
}




@media (max-width:420px) {
    .form__block__available__item {
        width: calc(100% / 2 - 18px);
    }
}