<header class="header_main header_main--dashboard">
    <div class="container">

        <a href="" class="header__logo">
            <img src="../images/logo_white.svg" alt="main logo">
        </a>

        <nav class="header__menu">
            <ul class="header__menu__list">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reservation</a></li>
                <li><a href="">Parking</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </nav>

        <div class="header__login">
            <div class="header__login__myaccount">
                <a href="">Hello, Annamaria Magic</a>
            </div>
            <div class="header__login__exit">
                <a href="" class="btn_default btn_y btn_logout">Log out</a>
            </div>
            <button class="header__btn_menu btn_menu js_btn_menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>



    </div>
</header>

<!-- end header -->