<div class="js__modal__menu modal__menu modal__menu--dashboard">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">
            <a href="" class="modal__menu__top__logo">
                <img src="../images/logo_white.svg" alt="main logo">
            </a>
            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>

        <div class="modal__menu__nav">
            <ul class="modal__menu__list">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Reservation</a></li>
                <li><a href="">Parking</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </div>

        <div class="modal__menu__login">
            <div class="header__login__myaccount">
                <a href="">Hello, Annamaria Magic</a>
            </div>
            <div class="header__login__exit">
                <a href="" class="btn_default btn_y btn_logout">Log out</a>
            </div>

        </div>


    </div>
</div>




<div id="js_modal_request_payment" class="modal__default modal__login modal__default--left">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="../images/logo.svg">
        </div>
        <div class="modal__title">Request payment</div>


        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="modal__pay_logo">
                <img src="../images/icons/pay/1.svg">
            </div>
            <div class="modal__pay_info">
                <div class="modal__pay_info__title">Total</div>
                <div class="modal__pay_info__value">$300.30</div>
            </div>

            <div class="modal__pay_user">
                <div class="modal__pay_user__info">
                    <p>Maria Potter,</p>
                    <p>maria@gmail.com,</p>
                    <p>(833) 300-XTRA</p>
                </div>
                <a href="" class="modal__pay_user__edit"></a>
            </div>

            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Amount, $</div>
                    <input type="text" name="payment" required  value="300.30">
                </label>
            </div>

            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn form__field--btn--full">
                    <input type="submit" value="Request">
                </div>
            </div>

        </form>
    </div>
</div>




<div id="js_modal_request_payment_2" class="modal__default modal__login modal__default--left">
    <div class="modal__inner">
        <div class="modal__logo">
            <img src="../images/logo.svg">
        </div>
        <div class="modal__title">Request payment</div>

        <div class="modal__icon_pay modal__icon">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.1654 14.7505L25.1237 52.7922L7.83203 35.5005" stroke="#F3792C" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>

        <div class="modal__addtitle">Thank you!</div>
        <div class="modal__text modal__text--pay">We'll process your request quickly.</div>


        <a href="" class="btn_default btn_x btn_modal_go_home">Go to dashboard</a>

    </div>
</div>





<div id="js_modal_remove_reservation" class="modal__default modal__login">
    <div class="modal__inner">


        <div class="modal__icon_pay modal__icon">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="51.5" cy="49.5" r="35.5" fill="#992930"/>
                <path d="M90.6913 50.0195C90.4589 33.0859 80.0937 17.9238 64.2187 11.873C48.2421 5.7793 29.3867 10.8613 18.5742 24.0801C7.81244 37.2383 6.18353 56.1895 14.9492 70.8574C23.6953 85.4961 40.8417 93.0371 57.5429 90.0391C76.582 86.6133 90.2128 69.5078 90.6757 50.4629C90.6874 50.3145 90.6933 50.1699 90.6913 50.0195ZM61.3281 81.3652C48.0859 86.1113 33.0468 81.9512 24.1152 71.0957C15.3066 60.3789 14.2578 44.7949 21.3437 32.9199C28.3964 21.1172 42.5156 14.6484 56.0683 17.2383C71.8242 20.2539 83.0663 34.084 83.2851 50.0195C83.0956 63.8887 74.5253 76.6348 61.3281 81.3652Z" fill="#992930"/>
                <path d="M46.2539 30.3809V55.6406C46.2539 60.4062 53.6602 60.4141 53.6602 55.6406V30.3809C53.6602 25.6152 46.2539 25.6074 46.2539 30.3809Z" fill="white"/>
                <path d="M49.957 64.1836C45.1914 64.1836 45.1836 71.5898 49.957 71.5898C54.7305 71.5898 54.7305 64.1836 49.957 64.1836Z" fill="white"/>
            </svg>

        </div>

        <div class="modal__title">You won't be able to revert this!</div>

        <div class="btn_modal_bottom">
            <a href="javascript:void(0)" class="btn_modal_reservation btn_default btn_x btn_modal_go_home">Yes, delete it!</a>
            <a href="javascript:void(0)" class="btn_modal_reservation btn_default btn_r  js__btn_close__modal">Cancel</a>
        </div>


    </div>
</div>

<div class="modal__menu__overlay js_modal__menu__overlay"></div>